{{extend 'layout.html'}}

<a href="{{=URL(f="new")}}">Nuevo Proyecto</a>

<table class="table">

    {{for project in projects:}}
	<tr>
	    <td>
		<h4>{{=project.title}}</h4>
		<a href="{{=URL(c="project", f="new", args=project.id)}}">Editar</a>
	    </td>
	    
	    <td>
		<ul>
		    <li>
			<a href="{{=URL(c="issue", f="index", args=project.slug)}}">
			    Incidencias
			</a>
			<small>

			    ({{=_get_project_issue_progress(project.uuid)}}%)
			 

		</ul>
	    </td>
	</tr>

    {{pass}}
</table>
