{{extend 'layout.html'}}

<a href="{{=URL(c="project", f="index")}}"><< Proyectos</a>

<h1>{{='Incidencias en "{0}"'.format(project.title) if project else 'Incidencias en todos los Proyectos'}}</h1>

    <div class="btn-group" data-toggle="buttons-radio">
	

	<a class="btn btn-mini btn-primary" href="{{=URL(f="new", args=request.args(0))}}">Nueva Incidencia</a>

	<a class="btn btn-mini" href="{{=URL(args=request.args, vars=dict(solved="False"))}}">Mostrar Abiertas</a>
	<a class="btn btn-mini" href="{{=URL(args=request.args, vars=dict(solved="True"))}}">Mostrar Resueltas</a>
	
    </div>


<div id="issue-list">

    {{if not project_issues:}}
	Sin incidencias
    {{pass}}

    
    {{for issue in project_issues:}}
	
	<div class="issue">
	    <a href="{{=URL(args=_get_project_metadata(issue.project_uuid).slug)}}">
		{{=_get_project_metadata(issue.project_uuid).title}}
	    </a>

	    <strong>
	    {{=issue.project_issue_number}};
	    </strong>
	    
	    <a href="{{=URL(f='view', args=[_get_project_metadata(issue.project_uuid).slug, issue.project_issue_number])}}">
		{{=issue.title}} 
	    </a>
	    {{='✓' if issue.solved else ''}}
	    
	    {{if commit_related and commit_related.has_key(issue.project_issue_number):}}
		
		<small>
		    ({{=len(commit_related[issue.project_issue_number])}} cambios relacionados)
		</small>
	    {{pass}}
	</div>
    {{pass}}

</div>
